
rosa = #EB0F3E
rosa_dark = #AB0B2D
azul = #049DBF
azul_dark = #03658C
azul_light = #00A3E8

body
	background url(../images/desk.jpg) no-repeat center center fixed
	background-size cover 
	font-family 'Roboto', sans-serif
	position relative	

header
	overflow hidden
	position relative
	
input[type=email]
input[type=password]
input[type=text]
	border-top 1px solid #FFF
	border-left 2px solid #DDD
	border-right 2px solid #DDD
	border-bottom 2px solid #DDD
	display block
	margin-bottom 1em
	padding 1em
	outline none
	width 90%
	
	&:focus
		border-bottom 2px solid azul_light
		border-right 2px solid azul_light
		border-left 2px solid azul_light
		box-shadow 0 -1px 1px azul_light inset
	
.body
	background-color rgba(0, 0, 0,.7)
	min-height 100vh
	
			
.btn-registrate
.btn-login
	background transparent
	border 4px solid white
	box-shadow rgba(0,0,0,0.5) 0px 0px 5px
	color white
	float right
	font-size 1.5em
	margin 1em
	padding 1em
	text-decoration none
	
		
.container
	height 500px
	margin-top 5em
	
.email-error
.nickname-error
	color red

.background-error
	background rgba(0,0,0,0.5)
	height 100%
	left 0
	position fixed
	top 0
	width 100%
	
	.error
		background #FFF
		border-bottom-left-radius 10px
		border-bottom-right-radius 10px
		color gray
		font-size 16px
		padding 0em 1em 4em 1em
		position absolute
		top 30%
		left 33%
		text-align center
		width 30%
.login
.registro
	background white
	border-radius 10px
	margin 0 auto
	padding 1.5em
	width 35%
	
.login
	position relative
	button
		background rosa
		border 0
		border-bottom 4px solid rosa_dark
		display block
		font-family 'Roboto'
		font-size 20px
		color white
		margin 0 auto
		padding 0.5em 1em
		
		&:active
			margin-top 1em
			border-bottom 0
			
	.password-icon
		color gray
		position absolute
		right 60px
		top 120px
	.user-icon
		color gray
		position absolute
		right 60px
		top 50px
			
.pre-loader
	background url(../images/loader-64x/Preloader_3.gif) center no-repeat #FFF		
	height 100%
	left 0px
	position fixed
	top 0px
	width 100%
	z-index 9999
	
.red
	color red

.registro
	button 
		background #2DC400
		border 0
		border-bottom 4px solid green 	
		display block
		font-family 'Roboto'
		font-size 24px
		color white
		margin 0 auto
		padding 0.5em 
		overflow hidden
		text-shadow #26A500 1px 1px, #26A500 2px 2px, #26A500 3px 3px, #26A500 4px 4px, #26A500 5px 5px,#26A500 6px 6px,#26A500 7px 7px,#26A500 8px 8px,#26A500 9px 9px,#26A500 10px 10px,#26A500 11px  11px,#26A500 12px 12px,#26A500 13px 13px,#26A500 14px 14px,#26A500 15px 15px,#26A500 16px 16px,#26A500 17px 17px,#26A500 18px 18px,#26A500 19px 19px,#26A500 20px 20px,#26A500 21px 21px,#26A500 22px 22px,#26A500 23px 23px,#26A500 24px 24px,#26A500 25px 25px,#26A500 26px 26px,#26A500 27px 27px,#26A500 29px 29px,#26A500 30px 30px
		
		&:hover
			background #2DCF00

.ocultar
	display none	

.bounce
	position relative
	font-weight bold
	-webkit-animation bounce 1s ease-out
	-moz-animation bounce 1s ease-out	
	animation bounce 1s ease-out
	
	@keyframes bounce
		0%
			transform translateY(-400%)
			opacity 0
		5%
			transform translateY(-300%)
			opacity 0
		15%
			transform translateY(-200%)
			padding-bottom 5px
		30%
			transform translateY(-100%)
		40%
			transform translateY(-50%)
			padding-bottom 6px
		50%
			transform translateY(0%)
		70%
			transform translateY(40%)
			padding-bottom 7px
		80%
			transform translateY(-30%)
		90%
			transform translateY(20%)
			padding-bottom 8px
		95%
			transform translateY(-15%)
		97%
			transform translateY(10%)
			padding-bottom 9px
		99%
			transform translateY(-5%)
		100%
			transform translateY(0%)
			padding-bottom 9px
			opacity 1
			


@media screen and (max-width 768px)
		.login
		.registro
			width 80%
		.container
			height 400px
		footer
			.contactanos
				font-size 14px
				
			.siguenos 
				float left
				font-size 14px
				margin-bottom 1em
				
				

@media screen and (max-width 480px)
	.login
	.registro
		width 80%
	.container
		height 400px
	footer
		.contactanos
			font-size 12px
			
		.siguenos 
			float left
			font-size 12px
			margin-bottom 1em
			