rosa = #E6344A
rosa_dark = #C92E41
rosa_light = #F35E75
azul = #04779B
azul_dark = #0B5379
verde = #2FCC00

body 
	background white
	font-family 'Roboto',sans-serif
	perspective 1px
	transform-style preserve-3d
	overflow-y scroll
	overflow-x hidden
	

.welcome
	background  url(/images/cherry.jpg) no-repeat center center fixed 
	background-size cover
	box-shadow inset 0 -7px 7px -7px rgba(0,0,0,0.7)
	box-sizing border-box
	position relative
	transform-style inherit	
	width 100%
	
	.layer 
		background-color rgba(0, 0, 0,.5)
		color white
		min-height 100vh
		padding 25vh 10%
		text-align center
		text-transform capitalize
		
		div
			position absolute
			bottom 0
			left 0
			text-align center
			width 100%
		h1
			color white
			font-size 5em
			font-family 'Roboto', sans-serif
			text-align center
			text-shadow 0 5px 5px #333
			text-transform uppercase
		i 
			cursor pointer
			font-size 3em
		
			
.avatars
	
	background azul_dark
	padding 5em
	ul 
		list-style none
		margin 0 auto
		position relative
		width 65%
		li 
			display inline-block
			position relative
			i 
				color verde
				position absolute
				top 0
				left 0
			img 
				border-radius 50%
				width 80%
	
		
				
.buttons
	background #555
	margin-top -1em
	overflow hidden
	position relative
	a	
		color white
	.next
		color white
		background verde
		border 0
		font-size 1.5em
		margin-left 2em
		padding .7em
		position relative
		text-decoration none
		
		&:before
			content ''
			border-width 15px
			border-style solid 
			border-color transparent verde transparent transparent
			position absolute
			top 25%
			left -25px
		
.left
	float left
	
.right
	float right
		
@media screen and (max-width: 768px)
	.avatars
		.blue
			ul 
				padding 2em 0
				li
					margin 0 auto
					
		.pink
			ul 
				padding 2em 0
				li
					margin 0 auto
					
	.welcome
		.layer
			h1
				font-size 3em