{% extends "layout.html" %}

{% block title %}{{user.name}}{% endblock title %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/home.css">
	{% parent %}		
{% endblock stylesheets %}	
	
{% block content %}
	<nav class="navigation">
		<div class="search-logo left">
			<figure class="logo left">
				<img src="" alt="logo">
			</figure>
			<div class="search">
				<input type="text" class="right" placeholder="Busca tus amigos...">
				<i class="el-icon-search-alt search-icon"></i>	
			</div>
			
		</div>
		<ul class=" tabs right">
			<li class="actual">News</li>
			<li>Messages</li>
			<li>Chat</li>
			<li>Groups</li>
		</ul>
	</nav>
	<section class="down-header">
		<section class="profile-info left">
			<img class="photo"  src="images/{{user.photo}}" >
			<article>
				<h3>{{user.name}}</h3>
				<p>{{user.email}}</p>	
			</article>
		</section>
		
		<div class="publish right">
			<input type="text" class="publicar-text" placeholder="escribe algo genial...">
			<button class="publish-button">Publicar <i class="fa fa-check"></i></button>
			<article class="quote">
				<p>
				<i class="el-icon-quotes el-3x"></i>
				<script src="http://www.brainyquote.com/link/quotebr.js"></script>
				</p>
			</article>
		</div>	
	</section>
	
	<section class="container">
		<div class="new">
			<figure class="autor left">
				<img src="images/loader-128x/Preloader_7.gif" alt="photo">
			</figure>
			<div class="content left">
				<div class="user-actions">
					<a href="">{{user.nickname}}</a>
				</div>
				<p class="description">You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out.</p>
				<p class="timesince">hace 3 dias</p>
				<div class="options right">
					<a href="#" class="comments left"><i class="el-icon-comment"></i></a>
					<a href="#" class="like right"><i class="el-icon-thumbs-up"></i></a>
					<a href="#" class="dislike right"><i class="el-icon-thumbs-down"></i></a>
				</div>
			</div>

		</div>
		
		<div class="new">
			<figure class="autor left">
				<img src="images/loader-128x/Preloader_7.gif" alt="photo">
			</figure>
			<div class="content left">
				<div class="user-actions">
					<a href="">{{user.nickname}}</a>
				</div>
				<p class="text">You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out.</p>
				<p class="timesince">hace 3 dias</p>
				<div class="options right">
					<a href="#" class="comments left"><i class="el-icon-comment"></i></a>
					<a href="#" class="like right"><i class="el-icon-thumbs-up"></i></a>
					<a href="#" class="dislike right"><i class="el-icon-thumbs-down"></i></a>
				</div>
			</div>

		</div>
		<div class="new">
			<figure class="autor left">
				<img src="images/loader-128x/Preloader_7.gif" alt="photo">
			</figure>
			<div class="content left">
				<div class="user-actions">
					<a href="">{{user.nickname}}</a>
				</div>
				<p class="description">You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out.</p>
				<p class="timesince">hace 3 dias</p>
				<div class="options right">
					<a href="#" class="comments left"><i class="el-icon-comment"></i></a>
					<a href="#" class="like right"><i class="el-icon-thumbs-up"></i></a>
					<a href="#" class="dislike right"><i class="el-icon-thumbs-down"></i></a>
				</div>
			</div>

		</div>
		<div class="new">
			<figure class="autor left">
				<img src="images/loader-128x/Preloader_7.gif" alt="photo">
			</figure>
			<div class="content left">
				<div class="user-actions">
					<a href="">{{user.nickname}}</a>
				</div>
				<p class="description">You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out.</p>
				<p class="timesince">hace 3 dias</p>
				<div class="options right">
					<a href="#" class="comments left"><i class="el-icon-comment"></i></a>
					<a href="#" class="like right"><i class="el-icon-thumbs-up"></i></a>
					<a href="#" class="dislike right"><i class="el-icon-thumbs-down"></i></a>
				</div>
			</div>

		</div>
		<div class="new">
			<figure class="autor left">
				<img src="images/loader-128x/Preloader_7.gif" alt="photo">
			</figure>
			<div class="content left">
				<div class="user-actions">
					<a href="">{{user.nickname}}</a>
				</div>
				<p class="description">You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out.</p>
				<p class="timesince">hace 3 dias</p>
				<div class="options right">
					<a href="#" class="comments left"><i class="el-icon-comment"></i></a>
					<a href="#" class="like right"><i class="el-icon-thumbs-up"></i></a>
					<a href="#" class="dislike right"><i class="el-icon-thumbs-down"></i></a>
				</div>
			</div>

		</div>
		<div class="new">
			<figure class="autor left">
				<img src="images/loader-128x/Preloader_7.gif" alt="photo">
			</figure>
			<div class="content left">
				<div class="user-actions">
					<a href="">{{user.nickname}}</a>
				</div>
				<p class="description">You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out.</p>
				<p class="timesince">hace 3 dias</p>
				<div class="options right">
					<a href="#" class="comments left"><i class="el-icon-comment"></i></a>
					<a href="#" class="like right"><i class="el-icon-thumbs-up"></i></a>
					<a href="#" class="dislike right"><i class="el-icon-thumbs-down"></i></a>
				</div>
			</div>

		</div>
		<div class="new">
			<figure class="autor left">
				<img src="images/loader-128x/Preloader_7.gif" alt="photo">
			</figure>
			<div class="content left">
				<div class="user-actions">
					<a href="">{{user.nickname}}</a>
				</div>
				<p class="description">You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out.</p>
				<p class="timesince">hace 3 dias</p>
				<div class="options right">
					<a href="#" class="comments left"><i class="el-icon-comment"></i></a>
					<a href="#" class="like right"><i class="el-icon-thumbs-up"></i></a>
					<a href="#" class="dislike right"><i class="el-icon-thumbs-down"></i></a>
				</div>
			</div>

		</div>
	</section>
{% endblock content %}
	